
<div class="login">

	<app-header></app-header>

	<app-error *ngIf="error">{{error}}</app-error>

	<form [formGroup]="loginFormGroup">
	
		<mat-form-field appearance="outline">
			<mat-label>Username</mat-label>
			<input matInput [formControl]="usernameControl" type="text">
			<mat-error *ngIf="usernameControl.hasError('required')">
				Username is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput [formControl]="passwordControl" type="password">
			<mat-error *ngIf="passwordControl.hasError('required')">
				Password is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<div>
			<button mat-raised-button color="accent" [disabled]="loginButtonDisabled" (click)="logIn()">Log in</button>
		</div>
		
	</form>

</div>